body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

header, main, footer {
    text-align: center;
    padding: 20px;
}
header img {
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de l'écran */
    height: auto; /* Permet de conserver les proportions de l'image */
}
img {
    max-width: 100%;
    height: auto;
    display: block; /* This will remove any extra space below the image */
    margin-left: auto; /* These two margin properties will center your image horizontally */
    margin-right: auto;
}

/* Vous pouvez aussi ajouter des media queries pour ajuster l'image à différents points de rupture */

/* Exemple pour les téléphones en portrait */
@media only screen and (max-width: 600px) {
    header {
        padding: 20px 10px; /* Réduisez le padding pour les petits écrans */
    }
}

#countdown {
    font-size: 1.5em;
    margin: 20px 0;
}

#countdown-timer {
    font-weight: bold;
}

/* Ajouter d'autres styles ici */

