body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://github.com/marjolaine-chirpaz/25birthday/blob/main/Fond%20texture%20papier.png?raw=true);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Pour que le fond reste fixe lors du défilement */
}
header h1 {
    font-size: 3em; /* Ajustez la taille comme vous le souhaitez */
    margin: 0;
    padding-top: 20px; /* Ajustez l'espace au-dessus du titre */
}
header, main, footer {
    text-align: center;
    padding: 20px;
}
header img {
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de l'écran */
    height: auto; /* Permet de conserver les proportions de l'image */
}
img {
    max-width: 100%;
    height: auto;
    display: block; /* This will remove any extra space below the image */
    margin-left: auto; /* These two margin properties will center your image horizontally */
    margin-right: auto;
}

/* Vous pouvez aussi ajouter des media queries pour ajuster l'image à différents points de rupture */

/* Exemple pour les téléphones en portrait */
@media only screen and (max-width: 600px) {
    header {
        padding: 20px 10px; /* Réduisez le padding pour les petits écrans */
    }
}

#countdown {
    font-size: 4em;
    margin: 20px 0;
    margin-bottom: 20px; /* Ajustez l'espace au-dessous du compte à rebours */

}

#countdown-timer {
    font-weight: bold;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Ajoutez des dimensions si nécessaire */
    width: 90%; /* Ou une autre largeur selon vos besoins */
    max-width: 600px; /* Pour limiter la largeur maximale */
    height: 400px; /* Ajustez la hauteur selon vos besoins */
}


/* Ajouter d'autres styles ici */

